<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="farm activities, itineraries, farm holidays, country holidays, bed and breakfast, hotel, country hotel">
    <meta name="description" content="Country Holidays - Premium site template for a country accommodation.">
    <meta name="author" content="Ansonika">
    <title>Country Holidays - Premium site template for a country accommodation.</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="{{ asset('front/img/favicon.ico') }}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{{ asset('front/img/apple-touch-icon-57x57-precomposed.png') }}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{{ asset('front/img/apple-touch-icon-72x72-precomposed.png') }}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{{ asset('front/img/apple-touch-icon-114x114-precomposed.png') }}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{{ asset('front/img/apple-touch-icon-144x144-precomposed.png') }}">

    <!-- Google web fonts -->
    <link href='{{ asset('http://fonts.googleapis.com/css?family=Varela+Round') }}' rel='stylesheet' type='text/css'>
    <link href='{{ asset('http://fonts.googleapis.com/css?family=Lato:300,400,700') }}' rel='stylesheet' type='text/css'>
    <link href='{{ asset('http://fonts.googleapis.com/css?family=Gochi+Hand') }}' rel='stylesheet' type='text/css'>

    <!-- BASE CSS -->
    <link href="{{ asset('front/css/base.css') }}" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="{{ asset('front/css/slider-pro.min.css') }}" rel="stylesheet">


    <style>

        @media (min-width: 768px) {
            .omb_row-sm-offset-3 div:first-child[class*="col-"] {
                margin-left: 25%;
            }
        }

        .omb_login .omb_authTitle {
            text-align: center;
            line-height: 300%;
        }

        .omb_login .omb_socialButtons a {
            color: white; // In yourUse @body-bg
        opacity:0.9;
        }
        .omb_login .omb_socialButtons a:hover {
            color: white;
            opacity:1;
        }
        .omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
        .omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
        .omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


        .omb_login .omb_loginOr {
            position: relative;
            font-size: 1.5em;
            color: #aaa;
            margin-top: 1em;
            margin-bottom: 1em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
        .omb_login .omb_loginOr .omb_hrOr {
            background-color: #cdcdcd;
            height: 1px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
        .omb_login .omb_loginOr .omb_spanOr {
            display: block;
            position: absolute;
            left: 50%;
            top: -0.6em;
            margin-left: -1.5em;
            background-color: white;
            width: 3em;
            text-align: center;
        }

        .omb_login .omb_loginForm .input-group.i {
            width: 2em;
        }
        .omb_login .omb_loginForm  .help-block {
            color: red;
        }


        @media (min-width: 768px) {
            .omb_login .omb_forgotPwd {
                text-align: right;
                margin-top:10px;
            }
        }
    </style>

</head>

<body>


<div id="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!-- End Preload -->

<div class="layer"></div>
<!-- Mobile menu overlay mask -->

<!-- Header================================================== -->
<header>
    <div id="top_line">
        <div class="container">
            <ul id="top_links">
                <li><a href="#">Account</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
            <a href="http://themeforest.net/item/countryholidays-country-hotel-and-bed-breakfast/11800971?ref=ansonika" id="link_bt">Hello Beyram !</a>
        </div><!-- End container-->
    </div><!-- End top line-->

    <div id="top_header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div id="logo">
                        <a href="index-1.htm"><img src="img\logo.png" width="240" height="40" alt="CountryHolidays" data-retina="true"></a>
                    </div>
                </div>
                <nav class="col-md-8 col-sm-8 col-xs-8">
                    <a class="cmn-toggle-switch cmn-toggle-switch__rot  open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="img\logo.png" width="240" height="40" alt="CountryHolidays" data-retina="true">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Home <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href="index-1.htm">With Revolution Slider</a></li>
                                    <li><a href="index_2.htm">With Video Background</a></li>
                                    <li><a href="index_3.htm">With Booking Form</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Rooms <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href="rooms_list.htm">Room list</a></li>
                                    <li><a href="room_details.htm">Room details</a></li>
                                    <li><a href="room_booking.htm">Room details Booking</a></li>
                                </ul>
                            </li>
                            <li><a href="about.htm">About</a></li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Activities <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href="all_activities.htm">All activities</a></li>
                                    <li><a href="horses.htm">Horses</a></li>
                                    <li><a href="local_food.htm">Discover local food</a></li>
                                    <li><a href="cooking.htm">Cooking local food</a></li>
                                    <li><a href="farm.htm">Farm activities</a></li>
                                </ul>
                            </li>
                            <li><a href="contacts.htm">Contact us</a></li>
                            <li class="megamenu submenu">
                                <a href="javascript:void(0);" class="show-submenu-mega">Pages &amp; elements<i class="icon-down-open-mini"></i></a>
                                <div class="menu-wrapper">
                                    <div class="col-md-4">
                                        <h3>Pages</h3>
                                        <ul>
                                            <li><a href="gallery_3_columns.htm">Gallery 3 columns</a></li>
                                            <li><a href="gallery_4_columns.htm">Gallery 4 columns</a></li>
                                            <li><a href="fullscreen_gallery.htm">Gallery fullscreen</a></li>
                                            <li><a href="404.htm">404 Error page</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <h3>Pages</h3>
                                        <ul>
                                            <li><a href="blog.htm">Blog</a></li>
                                            <li><a href="blog_post.htm">Blog post</a></li>
                                            <li><a href="site_launch\index.htm">Site launch / Coming soon</a></li>
                                            <li><a href="shortcodes.htm"><i class="icon-tools"></i> Shortcodes</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <h3>Elements</h3>
                                        <ul>
                                            <li><a href="boxed\index.htm"><i class="icon-columns"></i> Boxed version</a></li>
                                            <li><a href="icon_pack_1.htm"><i class="icon-inbox-alt"></i> Icon pack 1 (1900)</a></li>
                                            <li><a href="icon_pack_2.htm"><i class="icon-inbox-alt"></i> Icon pack 2 (100)</a></li>
                                            <li><a href="icon_pack_3.htm"><i class="icon-inbox-alt"></i> Icon pack 3(17)</a></li>
                                        </ul>
                                    </div>
                                </div><!-- End menu-wrapper -->
                            </li>
                        </ul>
                    </div><!-- End main-menu -->

                </nav>
            </div>
        </div>
    </div>
</header><!-- End Header -->

<section class="sub_header" id="bg_room">
    <div class="sub_header_content">
        <div class="animated fadeInDown">
            <h1>Login to Host and Guest </h1>
            <p>
                Host and Guest permet à des particuliers de louer tout ou une partie de leur propre habitation comme logement d'appoint
            </p>
        </div>
    </div>
</section><!-- End Section -->

<div id="position">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Category</a></li>
            <li>Page active</li>
        </ul>
    </div>
</div><!-- End Position -->

<div class="container margin_60">
    <div class="row">
        <div class="col-lg-9 col-md-8" id="single_tour_desc">
            {% block fos_user_content %}

            {% endblock fos_user_content %}

            <hr>
        </div><!-- End col-lg-9 -->


    </div><!-- End row -->
</div><!-- End Container -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3">
                <h3>Contacts</h3>
                <ul id="contact_details_footer">
                    <li>Route de Sablet 1023, Marseille<br>France 01923</li>
                    <li><a href="tel://004542344599">+45 423 445 99</a> / <a href="tel://004542344599">+45 423 445 99</a></li>
                    <li><a href="mailto:info@countryholidays.com">info@countryholidays.com</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2">
                <h3>About</h3>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Rooms</a></li>
                    <li><a href="#">Activities</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Gallery</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <h3>Change language</h3>
                <ul>
                    <li><a href="#">English</a></li>
                    <li><a href="#">French</a></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3" id="newsletter">
                <h3>Newsletter</h3>
                <p>Join our newsletter to keep be informed about offers and news.</p>
                <div id="message-newsletter_2"></div>
                <form method="post" action="assets/newsletter.php" name="newsletter_2" id="newsletter_2">
                    <div class="form-group">
                        <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Your mail" class="form-control">
                    </div>
                    <input type="submit" value="Subscribe" class="btn_1 white" id="submit-newsletter_2">
                </form>
            </div>
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-google"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                        <li><a href="#"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon-vimeo"></i></a></li>
                        <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                    </ul>
                    <p>© CountryHolidays 2015</p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</footer><!-- End footer -->

<div id="toTop"></div><!-- Back to top button -->

<!-- Modal Review -->
<div class="modal fade" id="myReview" tabindex="-1" role="dialog" aria-labelledby="myReviewLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myReviewLabel">Write your review</h4>
            </div>
            <div class="modal-body">
                <div id="message-review">
                </div>
                <form method="post" action="assets/review.php" name="review" id="review">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="name_review" id="name_review" type="text" placeholder="Your name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="lastname_review" id="lastname_review" type="text" placeholder="Your last name" class="form-control">
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="email_review" id="email_review" type="email" placeholder="Your email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" name="room_type_review" id="room_type_review">
                                    <option value="">Select room type
                                    <option value="Single room">Single Room
                                    <option value="Double Room">Double Room
                                    <option value="King double room">King Double Room
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Position</label>
                                <select class="form-control" name="position_review" id="position_review">
                                    <option value="">Please review
                                    <option value="Low">Low
                                    <option value="Sufficient">Sufficient
                                    <option value="Good">Good
                                    <option value="Excellent">Excellent
                                    <option value="Superb">Super
                                    <option value="Not rated">I don't know
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Comfort</label>
                                <select class="form-control" name="comfort_review" id="comfort_review">
                                    <option value="">Please review
                                    <option value="Low">Low
                                    <option value="Sufficient">Sufficient
                                    <option value="Good">Good
                                    <option value="Excellent">Excellent
                                    <option value="Superb">Super
                                    <option value="Not rated">I don't know
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Price</label>
                                <select class="form-control" name="price_review" id="price_review">
                                    <option value="">Please review
                                    <option value="Low">Low
                                    <option value="Sufficient">Sufficient
                                    <option value="Good">Good
                                    <option value="Excellent">Excellent
                                    <option value="Superb">Super
                                    <option value="Not rated">I don't know
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quality</label>
                                <select class="form-control" name="quality_review" id="quality_review">
                                    <option value="">Please review
                                    <option value="Low">Low
                                    <option value="Sufficient">Sufficient
                                    <option value="Good">Good
                                    <option value="Excellent">Excellent
                                    <option value="Superb">Super
                                    <option value="Not rated">I don't know
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <div class="form-group">
                        <textarea name="review_text" id="review_text" class="form-control" style="height:100px" placeholder="Write your review"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" id="verify_review" class=" form-control" placeholder="Are you human? 3 + 1 =">
                    </div>
                    <input type="submit" value="Submit" class="btn_1" id="submit-review">
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Common scripts -->
<script src="{{ asset('front/js/jquery-1.11.2.min.js') }}"></script>
<script src="{{ asset('front/js/common_scripts_min.js') }}"></script>
<script src="{{ asset('front/js/functions.js') }}"></script>
<script src="{{ asset('front/assets/validate.js') }}"></script>



<!-- Specific scripts -->
<script src="{{ asset('front/js/jquery.sliderPro.min.js') }}"></script>

<script type="text/javascript">
    $( document ).ready(function( $ ) {
        $( '#Img_carousel' ).sliderPro({
            width: 960,
            height: 500,
            fade: true,
            arrows: true,
            buttons: false,
            fullScreen: false,
            smallSize: 500,
            startSlide: 0,
            mediumSize: 1000,
            largeSize: 3000,
            thumbnailArrows: true,
            autoplay: false
        });
    });
</script>

</body>
</html>